.background: 
{


}

.navbar
{
	position: absolute;
	top: 0px;
	right: 0px;
}
.navbar li
{
	display: inline-block;
	
}

.logo
{
	display: block;
	margin: auto;
}

.searchbar
{

}

.buttonbar
{

}

.message
{
	
}

.footer
{

}
